In [1]:
from fastai.vision.all import *

In [2]:
path = untar_data(URLs.PASCAL_2007)

In [3]:
df = pd.read_csv(path/'train.csv')
df.head()

        fname        labels  is_valid
0  000005.jpg         chair      True
1  000007.jpg           car      True
2  000009.jpg  horse person      True
3  000012.jpg           car     False
4  000016.jpg       bicycle      True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5011 entries, 0 to 5010
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fname     5011 non-null   object
 1   labels    5011 non-null   object
 2   is_valid  5011 non-null   bool
dtypes: bool(1), object(2)
memory usage: 83.3+ KB

In [6]:
df['fname'].tail()

5006    009954.jpg
5007    009955.jpg
5008    009958.jpg
5009    009959.jpg
5010    009961.jpg
Name: fname, dtype: object

In [7]:
dblock = DataBlock()

In [8]:
dsets = dblock.datasets(df)

In [9]:
dsets.train[0]

(fname       008891.jpg
 labels      car person
 is_valid         False
 Name: 4460, dtype: object,
 fname       008891.jpg
 labels      car person
 is_valid         False
 Name: 4460, dtype: object)

In [10]:
dblock = DataBlock(get_x=lambda r: r['fname'], get_y=lambda r: r['labels'])
dsets = dblock.datasets(df)
dsets.train[0]

('005327.jpg', 'sofa person dog')